<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createTrunkshowCtrl as con">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="con.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="con.spinners">

        <div class="col-lg-12">
            <button class="btn m-t-7 float-right" ui-sref="flyrobe.trunkshow">
                Back
            </button>
            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                      <form validate-form="" novalidate="" role="form" name="fresetForm"
                            ng-submit="con.createTrunkshow()">
                          <div class="col-lg-12 m-b-10">
                            <h3>Select Host</h3>
                          </div>
                          <div class="form-group has-feedback input-div col-lg-3">
                              <div>
                                  <label>Host</label> <span class="mandatory">*</span>
                                  <ui-select ng-model="con.cons.vendor" theme="bootstrap"
                                             class="singleError ui-select-readonly" ng-change="con.getVendorDetails(con.cons.vendor)"
                                             ng-class="{'parsley-error' : con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined}">
                                      <ui-select-match placeholder="Select Host...">{{$select.selected.user_name}}</ui-select-match>
                                      <ui-select-choices repeat="ven in con.vendor_list | filter: $select.search">
                                          <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                      </ui-select-choices>
                                  </ui-select>
                                  <ul class="parsley-errors-list filled" ng-if="con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined">
                                      <li class="parsley-required">This value is required.</li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-lg-12 nopadding m-b-10" ng-if="con.show_vendor_details">

                              <div class="col-lg-12 m-b-10"><h3>Host Details</h3></div>
                              <div class="col-lg-3"><label> Name : </label> {{con.cons.vendor.first_name + " " + con.cons.vendor.last_name}} <br></div>
                              <div class="col-lg-3"><label> Phone Number : </label> {{con.cons.vendor.phone_number}} <br></div>
                              <div class="col-lg-6"><label> Address : </label> {{con.cons.vendor.address}} <br></div>
                              <div class="col-lg-3"><label> Pincode : </label> {{con.cons.vendor.pin_code}} <br></div>
                              <div class="col-lg-3"><label> City : </label> {{con.cons.vendor.city}} <br></div>

                              <div class="col-lg-12 nopadding m-t-10">
                                <div class="form-group has-feedback input-div col-lg-3">
                                    <label>SD Payment ID</label> <span class="mandatory">*</span>
                                    <input type="text" class="form-control" placeholder="Enter SD Payment ID"
                                           ng-model="con.cons.sd_payment_id" required="required">
                                </div>
                              </div>

                          </div>
                          <div class="col-lg-12 m-b-10">
                            <h3>Select Trunkshow Dates</h3>
                          </div>
                          <div class="form-group has-feedback col-lg-3 input-div confirm-date-div">
                              <label>Start Date</label> <span class="mandatory">*</span>
                              <div class="datepicker input-group date"
                                   date-set-hidden="true"
                                   date-min-limit={{con.cons.start_date_week}}
                                   date-format="yyyy-MM-dd"
                                   date-typer="true"
                                   button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                   button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                  <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                         onchange="con.changeDateStart()"
                                         placeholder="Select Start Date" required="required"
                                         ng-model="con.cons.start_date" readonly=""/>
                              </div>
                          </div>
                          <div ng-if="con.cons.start_enddate" class="form-group has-feedback col-lg-3 input-div confirm-date-div">
                              <label>End Date</label> <span class="mandatory">*</span>
                              <div class="datepicker input-group date"
                              ng-if="con.cons.start_enddate"
                                   date-set-hidden="true"
                                   date-min-limit={{con.cons.start_enddate}}
                                   date-format="yyyy-MM-dd"
                                   date-typer="true"
                                   button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                   button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                  <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                         onchange="con.changeDate()"
                                         placeholder="Select End Date" required="required"
                                         ng-model="con.cons.end_date" readonly=""/>
                              </div>
                          </div>
                          <div ng-if="con.cons.total_days" class="form-group has-feedback input-div col-lg-3 text-center">
                              <label>Total No Of Days</label>
                              <div>{{con.cons.total_days}}</div>
                          </div>
                          <div class="col-lg-12 m-b-10">
                            <h3>Box Details</h3>
                          </div>
                          <div class="col-lg-12 nopadding m-b-10">
                            <div class="form-group has-feedback input-div col-lg-3">
                                <div>
                                    <label>Box Type</label> <span class="mandatory">*</span>
                                    <ui-select ng-model="con.cons.boxtype" theme="bootstrap" ng-change="con.getBoxType()"
                                               class="singleError ui-select-readonly"
                                               ng-class="{'parsley-error' : con.cons.boxtype == '' || con.cons.boxtype == null || con.cons.boxtype == undefined}">
                                        <ui-select-match placeholder="Select Box Type...">{{$select.selected.boxtype_name}}</ui-select-match>
                                        <ui-select-choices repeat="box in con.boxtype | filter: $select.search">
                                            <div ng-bind-html="box.boxtype_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="con.cons.boxtype == '' || con.cons.boxtype == null || con.cons.boxtype == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="con.boxdetails && con.cons.boxtype.id == 'STDN'" class="form-group has-feedback input-div col-lg-3">
                                <div>
                                    <label>Box Requirements</label> <span class="mandatory">*</span>
                                    <ui-select ng-model="con.cons.boxdetails" theme="bootstrap"
                                               class="singleError ui-select-readonly" ng-change="con.getBoxRequirement()"
                                               ng-class="{'parsley-error' : con.cons.boxdetails == '' || con.cons.boxdetails == null || con.cons.boxdetails == undefined}">
                                        <ui-select-match placeholder="Select Box Requirements...">{{$select.selected.title}}</ui-select-match>
                                        <ui-select-choices repeat="box in con.boxdetails | filter: $select.search">
                                            <div ng-bind-html="box.id + ' - ' + box.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="con.cons.boxdetails == '' || con.cons.boxdetails == null || con.cons.boxdetails == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="con.cons.boxdetails && con.cons.boxtype.id == 'STDN'" class="form-group has-feedback input-div col-lg-3">
                                <label>No. of Items Required</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter No. of Items Required" ng-change="con.getItemCount()"
                                       ng-model="con.cons.items_count_arr[con.cons.boxdetails.id]" required="required" data-parsley-min="1" data-parsley-max="150"
                                       positive-integer>
                            </div>
                            <div ng-if="con.boxdetails && con.cons.boxtype.id == 'CSTM'" class="form-group has-feedback input-div col-lg-3">
                                <div>
                                    <label>Box Requirements</label> <span class="mandatory">*</span>
                                    <ui-select multiple close-on-select="false" ng-model="con.cons.boxdetails" theme="bootstrap"
                                               class="singleError ui-select-readonly" ng-change="con.getBoxRequirementCustom()"
                                               ng-class="{'parsley-error' : con.cons.boxdetails == '' || con.cons.boxdetails == null || con.cons.boxdetails == undefined}">
                                        <ui-select-match placeholder="Select Box Requirements...">{{$item.title}}</ui-select-match>
                                        <ui-select-choices repeat="box in con.boxdetails | filter: $select.search">
                                            <div ng-bind-html="box.id + ' - ' + box.title | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="con.cons.boxdetails == '' || con.cons.boxdetails == null || con.cons.boxdetails == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="con.cons.boxdetails && con.cons.boxtype.id == 'CSTM'" class="col-lg-6">
                              <div class="col-lg-12" ng-repeat="tag in con.tag_id">
                                <div class="col-lg-6">
                                    <label>Kit Name:</label> {{tag.kit_code}}
                                </div>
                                <div class="form-group has-feedback input-div col-lg-6">
                                    <label>No. of Items Required</label> <span class="mandatory">*</span>
                                    <input type="text" class="form-control" placeholder="Enter No. of Items Required"
                                           ng-change="con.getItemCount()" ng-model="con.cons.items_count_arr[tag.id]" required="required" data-parsley-min="1" data-parsley-max="150"
                                           positive-integer>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="col-lg-6">
                                  <label>Total No Of Items:</label>
                                </div>
                                <div class="col-lg-6">
                                  <label>{{con.final_count}}</label><span ng-if="con.final_count > 150" class="count-error"> &nbsp; Items cannot be greater than 150</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div ng-if="con.boxdetails" class="col-lg-12 nopadding">
                            <div class="form-group has-feedback input-div col-lg-3">
                                <div>
                                    <label>Size Preference</label> <span class="mandatory">*</span>
                                    <ui-select multiple close-on-select="false" ng-model="con.cons.sizedetails" theme="bootstrap"
                                               class="singleError ui-select-readonly" ng-change="con.getSizeList()"
                                               ng-class="{'parsley-error' : con.cons.sizedetails == '' || con.cons.sizedetails == null || con.cons.sizedetails == undefined}">
                                        <ui-select-match placeholder="Select Sizes...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="size in con.sizedetails | filter: $select.search">
                                            <div ng-bind-html="size | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="con.cons.sizedetails == '' || con.cons.sizedetails == null || con.cons.sizedetails == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="con.cons.boxtype.id == 'STDN'" class="form-group has-feedback input-div col-lg-3">
                                <label>Category Preference</label> <span class="mandatory">*</span>
                                <ui-select multiple close-on-select="false" ng-model="con.cons.category_preference" theme="bootstrap"
                                           class="singleError ui-select-readonly" ng-change="con.getCategoryPreference()"
                                           ng-class="{'parsley-error' : con.cons.category_preference == '' || con.cons.category_preference == null || con.cons.category_preference == undefined}">
                                    <ui-select-match placeholder="Select Box Requirements...">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="box in con.category | filter: $select.search">
                                        <div ng-bind-html="box | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <ul class="parsley-errors-list filled" ng-if="con.cons.category_preference == '' || con.cons.category_preference == null || con.cons.category_preference == undefined">
                                    <li class="parsley-required">This value is required.</li>
                                </ul>
                            </div>
                          </div>
                          <div ng-if="con.boxdetails" class="form-group has-feedback input-div col-lg-3">
                              <label>Comment</label>
                              <textarea type="text" class="form-control comment-textarea" placeholder="Enter Comment"
                                        ng-model="con.cons.comment"></textarea>
                          </div>
                          <div class="col-lg-12">
                              <div class="row">
                                  <div class="col-lg-4"></div>
                                  <div class="col-lg-4">

                                      <div class="form-group">
                                          <button type="submit" class="btn btn-primary block m-b m-t-10" style="margin: auto;">
                                              Create Trunkshow
                                          </button>
                                      </div>

                                  </div>
                              </div>
                          </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{con.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>
