<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="trunkshowCtrl as ts">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="ts.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->
    <div class="row" ng-hide="ts.spinners">

        <div class="col-lg-12">

            <button class="btn m-t-7 float-right" ui-sref="flyrobe.createTrunkshow">
                + Create Trunkshow
            </button>

            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="float-left">
                                <input id="rangeInput" date-range-picker
                                       class="form-control date-picker w-200 float-left" type="text"
                                       ng-model="ts.date_range" ng-value="1"
                                       readonly="" placeholder="Select Date" required=""/>

                                <button class="btn export-btn picklist-get-btn" ng-click="ts.getData()">
                                    Get Data
                                </button>

                                <div style="clear: both;"></div>

                            </div>

                            <button class="btn pull-right export-btn m-b-10" ng-if="ts.gridOptionsComplex.data.length"
                                    ng-csv="ts.exportToCsv()" csv-header="ts.csv_header"
                                    filename="{{'order_' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                                Export to CSV
                            </button>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="ts.gridOptionsComplex.data.length"
                                         ui-grid="ts.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="ts.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="editDetails">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 style="text-align: center;">Trunkshow Details (TS id: {{ts.to_details.id}})</h3>

                        <div>
                            <b>Created At</b> : {{ts.to_details.created_at | date}}
                        </div>

                        <div>
                            <b>Event Start Date</b> : {{ts.to_details.event_start_date | date}}
                        </div>

                        <div>
                            <b>Event End Date</b> : {{ts.to_details.event_end_date | date}}
                        </div>

                        <div>
                            <b>Host Name</b> : {{ts.to_details.boutique_vendors_user_name}}
                        </div>

                        <div>
                            <b>Status</b> : {{ts.to_details.status}}
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="ts.updateTrunkshow()">

                              <div class="form-group has-feedback col-lg-6 input-div confirm-date-div">
                                  <label>Start Date</label> <span class="mandatory">*</span>
                                  <div class="datepicker input-group date"
                                       date-set-hidden="true"
                                       date-format="yyyy-MM-dd"
                                       date-typer="true"
                                       button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                       button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                      <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                             onchange="ts.changeDateStart()"
                                             placeholder="Select Start Date" required="required"
                                             ng-model="ts.cons.start_date" readonly=""/>
                                  </div>
                              </div>

                              <div ng-if="ts.cons.start_enddate" class="form-group has-feedback col-lg-6 input-div confirm-date-div">
                                  <label>End Date</label> <span class="mandatory">*</span>
                                  <div class="datepicker input-group date"
                                  ng-if="ts.cons.start_enddate"
                                       date-set-hidden="true"
                                       date-min-limit={{ts.cons.start_enddate}}
                                       date-format="yyyy-MM-dd"
                                       date-typer="true"
                                       button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                       button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                      <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                             onchange="ts.changeDate()"
                                             placeholder="Select End Date" required="required"
                                             ng-model="ts.cons.end_date" readonly=""/>
                                  </div>
                              </div>

                              <div class="form-group has-feedback col-lg-12 input-div">
                                  <label>Address</label>
                                  <input type="text" class="form-control" placeholder="Enter Address"
                                         ng-model="ts.cons.address">
                              </div>


                                <div class="col-lg-12">

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn create-btn m-b m-t-10">
                                            Update Trunkshow Details
                                        </button>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </script>

</div>
