<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createConsignmentCtrl as con">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="con.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="con.spinners">

        <div class="col-lg-12">

            <button class="btn m-t-7 float-right" ui-sref="flyrobe.consignment">
                Back
            </button>
            <div style="clear: both;"></div>

        </div>

        <div class="col-lg-6">

            <div class="ibox  m-t-10">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-lg-12 m-t-10" ng-if="con.selected_items.length">
                            <h4> Selected items ({{con.selected_items.length}})</h4>
                            <span ng-repeat="item in con.selected_items" class="selected-font-size">
                                 {{item}}, &nbsp;
                            </span>
                            <hr>
                        </div>

                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm"
                              ng-submit="con.createConsignment()">

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Type</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="con.cons.type" required="required">
                                    <option value="" style="display: none;">Select Type</option>
                                    <option ng-repeat="cate in con.type_list" value="{{cate.id}}">{{cate.name}}</option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <div>
                                    <label>Sender</label> <span class="mandatory">*</span>
                                    <ui-select ng-model="con.cons.sender" theme="bootstrap"
                                               class="singleError ui-select-readonly"
                                               ng-class="{'parsley-error' : con.cons.sender == '' || con.cons.sender == null || con.cons.sender == undefined}">
                                        <ui-select-match placeholder="Select Sender...">{{$select.selected.user_name}}</ui-select-match>
                                        <ui-select-choices repeat="ven in con.sender_list | filter: $select.search">
                                            <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="con.cons.sender == '' || con.cons.sender == null || con.cons.sender == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <div>
                                    <label>Host</label> <span class="mandatory">*</span>
                                    <input type="text" class="form-control" placeholder="Enter Host"
                                           ng-model="con.cons.vendor.user_name" required="required" readonly="readonly">

                                    <!--<ui-select ng-model="con.cons.vendor" theme="bootstrap"
                                               class="singleError ui-select-readonly" ng-change="con.getVendorMargin(con.cons.vendor)"
                                               readonly
                                               ng-class="{'parsley-error' : con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined}">
                                        <ui-select-match placeholder="Select Host...">{{$select.selected.user_name}}</ui-select-match>
                                        <ui-select-choices repeat="ven in con.vendor_list | filter: $select.search">
                                            <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>-->
                                </div>
                            </div>

                            <!--<div class="form-group has-feedback col-lg-4 input-div">
                                <label>Margin Type</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="con.cons.new_margin_type" required="required">
                                    <option value="" style="display: none;">Select Type</option>
                                    <option value="PER">Percentage</option>
                                    <option value="ABS">Absolute</option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div"
                                 ng-if="con.cons.new_margin_type == 'PER'">
                                <label>Margin Percentage</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Margin Percentage"
                                       ng-model="con.cons.new_margin_rate" required="required" data-parsley-max="100"
                                       positive-integer>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div"
                                 ng-if="con.cons.new_margin_type == 'ABS'">
                                <label>Margin Absolute</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Margin Absolute"
                                       ng-model="con.cons.new_margin_rate_absolute" required="required"
                                       positive-integer>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>No. of Reserve Days</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter No. of Reserve Days"
                                       ng-model="con.cons.days" required="required"
                                       alpha-numeric>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div confirm-date-div">
                                <label>To Be Received Date</label> <span class="mandatory">*</span>
                                <div class="datepicker input-group date"
                                     date-set-hidden="true"
                                     date-min-limit={{main.currentDate}}
                                     date-format="yyyy-MM-dd"
                                     date-typer="true"
                                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                    <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                           onchange="con.changeConfirmDate()"
                                           placeholder="Select Confirmed Date" required="required"
                                           ng-model="con.cons.date" readonly=""/>
                                </div>
                            </div>-->

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Logistic Partner</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="con.cons.logistic_partner" required="required">
                                    <option value="" style="display: none;">Select Logistic Partner</option>
                                    <option ng-repeat="cate in con.logistic_partner_list" value="{{cate.id}}">{{cate.name}}</option>
                                </select>
                            </div>

                            <!--<div class="form-group has-feedback col-lg-4 input-div">
                                <label>Created By</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Name"
                                       ng-model="con.cons.created_by" required="required">
                            </div>-->

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Waybill</label>
                                <input type="text" class="form-control" placeholder="Enter Waybill"
                                       ng-model="con.cons.waybill" alpha-numeric="">
                            </div>

                            <!--<div class="form-group has-feedback col-lg-4 input-div">
                                <label>Items</label> <span class="mandatory" ng-if="con.selected_items.length == 0">*</span>
                                <input type="text" class="form-control" placeholder="Enter items seperated by comma"
                                       ng-model="con.cons.items" ng-required="con.selected_items.length == 0"
                                       comma-seperated-number>
                            </div>-->

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Comment</label>
                                <input type="text" class="form-control" placeholder="Enter Comment"
                                       ng-model="con.cons.comment">
                            </div>

                            <div class="col-lg-12" ng-if="con.show_vendor_details">
                                <label> Dispatch Date : </label> {{con.selected_to.to_be_dispatch_at | date}} <br>
                                <label> To Be Receive On : </label> {{con.selected_to.to_be_received_on | date}} <br>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary block m-b m-t-10">
                                                Create Package
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="ibox m-t-10">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group w-50p float-left">
                                <label>Select Order Id</label> <span class="mandatory">*</span>
                                <!--<input type="text" class="form-control" placeholder="Enter Order Id"
                                       ng-model="con.picklist_id" required="required"
                                       positive-integer>-->

                                <ui-select ng-model="con.picklist_id" theme="bootstrap"
                                           class="singleError ui-select-readonly">
                                    <ui-select-match placeholder="Select Sender...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="ven in con.to_list | filter: $select.search">
                                        <div ng-bind-html="ven.name + ' - ' + ven.trunk_show_event_id | highlight: $select.search"></div>
                                        <div>{{ven.date}}</div>
                                    </ui-select-choices>
                                </ui-select>

                            </div>

                            <div class="form-group w-50p float-left">
                                <button type="submit" class="btn btn-primary block cc-get-btn"
                                        ng-click="con.getTODetails()">
                                    Get Details
                                </button>
                            </div>

                            <div style="clear: both;"></div>

                            <div ng-if="con.show_vendor_details">

                                <div class="form-group w-50p float-left">
                                    <label>Item</label>
                                    <div data-barcode-scanner="con.scanBarcode"></div>
                                    <input type="text" w-50p class="form-control barcode-input-box" placeholder="Barcode"
                                           ng-model="con.barcode">
                                </div>

                                <div class="form-group w-50p float-left">
                                    <button type="submit" class="btn btn-primary block cc-get-btn"
                                            ng-click="con.scanBarcode(con.barcode,'type')">
                                        Add Item
                                    </button>
                                </div>

                                <div style="clear: both;"></div>

                            </div>

                        </div>

                        <div class="col-lg-5" ng-if="con.show_vendor_details">
                            <h3>Vendor Details</h3>
                            <label> Username : </label> {{con.cons.vendor.user_name}} <br>
                            <label> Name : </label> {{con.cons.vendor.first_name + " " + con.cons.vendor.last_name}}
                            <br>
                            <label> email : </label> {{con.cons.vendor.email}} <br>
                            <label> Phone Number : </label> {{con.cons.vendor.phone_number}} <br>
                            <label> City : </label> {{con.cons.vendor.city}} <br>
                            <label> Created At : </label> {{con.cons.vendor.created_at | date}} <br>
                            <label> Confirmed Date : </label> {{con.cons.vendor.confirmed_date | date}} <br>
                            <label> Address : </label> {{con.cons.vendor.address}} <br>
                        </div>

                    </div>
                </div>
            </div>

            <div class="ibox" ng-if="con.show_vendor_details">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <!--<select class="form-control w-200 m-b-10" ng-change="con.getItemList()"
                                    ng-model="con.selected_manufacture">
                                <option value="" style="display: none">Select Merchant</option>
                                <option ng-repeat="arr in con.manufacturer_list_2" value="{{arr.id}}">
                                    {{arr.first_name + " " + arr.last_name}}
                                </option>
                                <option value="all">
                                    All
                                </option>
                            </select>

                            <div style="clear: both;"></div>-->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="con.gridOptionsComplex.data.length"
                                         ui-grid="con.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="con.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{con.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>