<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="returnConsignmentCtrl as rc">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="rc.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="rc.spinners">

        <div class="col-lg-12">
            <button class="btn m-t-7 float-right" ui-sref="flyrobe.returnConsignmentList">
                Back
            </button>
            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-6 m-t-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-lg-12 m-t-10" ng-if="rc.selected_items.length">
                            <h4> Selected items ({{rc.selected_items.length}})</h4>
                            <span ng-repeat="item in rc.selected_items" class="selected-font-size">
                                 {{item}}, &nbsp;
                            </span>
                            <hr>
                        </div>

                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm"
                              ng-submit="rc.createConsignment()">

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Type</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="rc.cons.type" required="required">
                                    <option value="" style="display: none;">Select Type</option>
                                    <option ng-repeat="cate in rc.type_list" value="{{cate.id}}">{{cate.name}}</option>
                                </select>
                            </div>

                            <div ng-if="rc.cons.type == 'RTD'" class="form-group has-feedback col-lg-4 input-div">
                                <label>Select Trunkshow</label> <span class="mandatory">*</span>
                                <select class="form-control m-b-10" ng-change="rc.getItemList('ts')"
                                        ng-model="rc.selected_show">
                                    <option value="" style="display: none">Select Show</option>
                                    <option ng-repeat="show in rc.trunk_show_list" value="{{show.id + '-'+ show.host_id}}">
                                        {{show.id}} - {{show.boutique_vendors_user_name}}
                                        ({{show.event_start_date | date}})
                                    </option>
                                </select>
                            </div>

                            <div ng-if="rc.cons.type == 'RTDH'" class="form-group has-feedback col-lg-4 input-div">
                                <label>Select Host</label> <span class="mandatory">*</span>
                                <select class="form-control m-b-10" ng-change="rc.getItemList('ho')"
                                        ng-model="rc.selected_host">
                                    <option value="" style="display: none">Select Show</option>
                                    <option ng-repeat="ven in rc.vendor_list" value="{{ven.id + '-'+ ven.user_name}}">
                                        {{ven.id}} - {{ven.user_name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Select Destination</label> <span class="mandatory">*</span>
                                <select class="form-control m-b-10"
                                        ng-model="rc.selected_destination" required="required">
                                    <option value="" style="display: none">Select Destination</option>
                                    <option ng-repeat="arr in rc.destination_list" value="{{arr.id}}">
                                        {{arr.user_name}}
                                    </option>
                                </select>
                            </div>

                            <!--<div class="form-group has-feedback col-lg-4 input-div">
                                <div>
                                    <label>Vendor</label> <span class="mandatory">*</span>
                                    <ui-select ng-model="rc.cons.vendor" theme="bootstrap"
                                               class="singleError ui-select-readonly"
                                               ng-class="{'parsley-error' : rc.cons.vendor == '' || rc.cons.vendor == null || rc.cons.vendor == undefined}">
                                        <ui-select-match placeholder="Select vendor...">{{$select.selected.user_name}}</ui-select-match>
                                        <ui-select-choices repeat="ven in rc.vendor_list | filter: $select.search">
                                            <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="rc.cons.vendor == '' || rc.cons.vendor == null || rc.cons.vendor == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>-->

                            <div class="form-group has-feedback col-lg-4 input-div confirm-date-div">
                                <label>Pickup Date</label> <span class="mandatory">*</span>
                                <div class="datepicker input-group date"
                                     date-set-hidden="true"
                                     date-min-limit={{main.currentDate}}
                                     date-format="yyyy-MM-dd"
                                     date-typer="true"
                                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                    <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                           onchange="rc.changeConfirmDate()"
                                           placeholder="Select Confirmed Date" required="required"
                                           ng-model="rc.cons.date" readonly=""/>
                                </div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Logistic Partner</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="rc.cons.logistic_partner" required="required">
                                    <option value="" style="display: none;">Select Logistic Partner</option>
                                    <option ng-repeat="cate in rc.logistic_partner_list" value="{{cate.id}}"
                                            ng-selected="rc.cons.logistic_partner == cate.id"
                                    >{{cate.name}}</option>
                                </select>
                            </div>

                            <!--<div class="form-group has-feedback col-lg-4 input-div">
                                <label>Created By</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Name"
                                       ng-model="rc.cons.created_by" required="required">
                            </div>-->

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Waybill</label>
                                <input type="text" class="form-control" placeholder="Enter Waybill"
                                       ng-model="rc.cons.waybill" alpha-numeric="">
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Items</label> <span class="mandatory" ng-if="rc.selected_items.length == 0">*</span>
                                <input type="text" class="form-control" placeholder="Enter items seperated by comma"
                                       ng-model="rc.cons.items" ng-required="rc.selected_items.length == 0"
                                       comma-seperated-number>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Comment</label>
                                <input type="text" class="form-control" placeholder="Enter Comment"
                                       ng-model="rc.cons.comment">
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary block m-b m-t-10">
                                                Create Package
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-t-10">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <select ng-if="rc.cons.type == 'RTD'" class="form-control w-200 m-b-10" ng-change="rc.getItemList('ts')"
                                    ng-model="rc.selected_show">
                                <option value="" style="display: none">Select Show</option>
                                <option ng-repeat="show in rc.trunk_show_list" value="{{show.id + '-'+ show.host_id}}">
                                    {{show.id}} - {{show.boutique_vendors_user_name}}
                                    ({{show.event_start_date | date}})
                                </option>
                            </select>

                            <select ng-if="rc.cons.type == 'RTDH'" class="form-control w-200 m-b-10" ng-change="rc.getItemList('ho')"
                                    ng-model="rc.selected_host">
                                <option value="" style="display: none">Select Host</option>
                                <option ng-repeat="ven in rc.vendor_list" value="{{ven.id + '-'+ ven.user_name}}">
                                    {{ven.id}} - {{ven.user_name}}
                                </option>
                            </select>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="rc.gridOptionsComplex.data.length"
                                         ui-grid="rc.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="rc.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{rc.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>
