<!--
************* Created by Surbhi Goel **************
-->
<style>

  .ngdialog-content{
    width: 725px !important;
  }

</style>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="returnConsignmentListCtrl as rcCtrl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="rcCtrl.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="rcCtrl.spinners">

        <div class="col-lg-12">

            <select class="form-control w-200 float-left" ng-model="rcCtrl.cons.selected_status"
                    ng-disabled="!rcCtrl.selected_consignment.status">
                <option value="" style="display: none;">Select Status</option>
                <option ng-repeat="cate in rcCtrl.consignment_status_list[rcCtrl.selected_consignment.status]" value="{{cate.id}}">
                    {{cate.name}}
                </option>
            </select>

            <select class="form-control m-l-10 w-200 float-left" ng-model="rcCtrl.cons.logistic_partner" required="required"
                    ng-if="rcCtrl.cons.selected_status == 'RTS'">
                <option value="" style="display: none;">Select Logistic Partner</option>
                <option ng-repeat="cate in main.logistic_partner_list" value="{{cate.id}}" ng-if="cate.id != 'Any'">{{cate.name}}</option>
            </select>

            <button class="btn m-l-10 float-left" ng-click="rcCtrl.updateStatus()"
                    ng-disabled="!rcCtrl.selected_consignment.status">
                Update Status
            </button>

            <button class="btn m-l-10 float-left" ng-click="rcCtrl.updatePackage()">
                Update Consignment
            </button>



            <button class="btn m-t-7 m-l-10 float-right" ui-sref="flyrobe.returnConsignment"
                    ng-if="('PC7' | component : rcCtrl.panel) == 'W'">
                + Create Return Package
            </button>

            <button class="btn m-t-7 float-right" ui-sref="flyrobe.sellerReturnConsignments">
                Host Return Package
            </button>

            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10" ng-if="rcCtrl.gridOptionsComplex.data">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <button class="btn custom-btn m-b-10 float-left" ng-click="rcCtrl.getData('INI,RTS,ITR','Active')"
                                    ng-class="{'active-btn' : rcCtrl.active_status == 'Active'}">
                                Active
                            </button>

                            <button class="btn custom-btn m-b-10 m-l-10 float-left" ng-click="rcCtrl.getData('RCD,PRC','Received')"
                                    ng-class="{'active-btn' : rcCtrl.active_status == 'Received'}">
                                Received
                            </button>

                            <button class="btn pull-right export-btn m-b-10" ng-if="rcCtrl.gridOptionsComplex.data.length"
                                    ng-csv="rcCtrl.exportToCsv()" csv-header="rcCtrl.csv_header"
                                    filename="{{'host_package_list' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                                Export to CSV
                            </button>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="rcCtrl.gridOptionsComplex.data.length"
                                         ui-grid="rcCtrl.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="rcCtrl.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="updateConsignment">
        <div class="ngdialog-message" style="width:700px">

            <div class="ibox-content">
                <div class="row">

                  <div class="col-lg-12">
                      <div class="ibox">
                          <div class="ibox-content">

                              <div class="row">

                                  <div class="col-lg-12 text-center">
                                      <h3>Package Number({{rcCtrl.rhs_data.id}})</h3>
                                      <div style="clear: both;"></div>
                                  </div>

                                  <div class="col-lg-12">
                                      <h4 class="">Selected Items</h4>
                                      <div>
                                          <span ng-repeat="item in rcCtrl.selected_items track by $index">
                                              {{item.id}}<span ng-if="!$last">, </span>
                                          </span>
                                      </div>
                                      <br>

                                      <div>

                                          <button class="btn export-btn m-b-10" ng-disabled="rcCtrl.selected_items.length <= 0"
                                                  ng-click="rcCtrl.updateStatusConsignment('RCD')">
                                              Mark Received
                                          </button>

                                          <button class="btn export-btn m-b-10 m-l-10" ng-disabled="rcCtrl.selected_items.length <= 0"
                                                  ng-click="rcCtrl.updateStatusConsignment('NRCD')">
                                              Mark Not Received
                                          </button>

                                      </div>
                                      <br>

                                      <table datatable="ng" dt-options="rcCtrl.dtOptions"
                                             class="table table-striped table-bordered table-hover dataTables-example item-table">
                                          <thead>
                                          <tr>
                                              <th ng-click="rcCtrl.selectItem(rcCtrl.rhs_data.items_info,'all')">
                                                  <div class="checkbox c-checkbox needsclick">
                                                      <label class="needsclick">
                                                          <i class="fa fa-square-o" ng-if="!rcCtrl.checked"></i>
                                                          <i class="fa fa-check-square-o" ng-if="rcCtrl.checked"></i>
                                                      </label>
                                                  </div>
                                              </th>
                                              <th>Image</th>
                                              <th ng-hide="true">Item Id</th>
                                              <th>Size</th>
                                              <th>Category</th>
                                              <th>Cost</th>
                                              <th>Package State</th>
                                              <th>Item Status</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr ng-repeat="data in rcCtrl.rhs_data.items_info">
                                              <td>
                                                  <div class="checkbox c-checkbox needsclick"
                                                       ng-if="data.status != 'SOT' || data.consignment_state != 'NRCD'"
                                                       ng-click="rcCtrl.selectItem(data,'single')">
                                                      <label class="needsclick">
                                                          <i class="fa fa-square-o" ng-if="!data.checked"></i>
                                                          <i class="fa fa-check-square-o" ng-if="data.checked"></i>
                                                      </label>
                                                  </div>
                                              </td>
                                              <td>
                                                  <div ng-if="data.style_info.image_front">
                                                      <img ng-if="data.style_info.image_front.indexOf('http') < 0" class="table-img"
                                                           ng-src="{{main.urlList.imagekit_url + data.style_info.image_front}}"
                                                           ng-click="rcCtrl.openModalForImage(main.urlList.imagekit_url + data.style_info.image_front)">
                                                      <img ng-if="data.style_info.image_front.indexOf('http') >= 0" class="table-img"
                                                           ng-src="{{data.style_info.image_front}}"
                                                           ng-click="rcCtrl.openModalForImage(data.style_info.image_front)">
                                                  </div>
                                                  {{data.item_code}}
                                              </td>
                                              <td ng-hide="true">{{data.item_code}}</td>
                                              <td>{{data.size}}</td>
                                              <td>{{data.style_info.category}}</td>
                                              <td>{{data.price}}</td>
                                              <td>{{data.consignment_state | consignmentState}}</td>
                                              <td>{{data.status | itemStatus}}</td>
                                          </tr>
                                          </tbody>
                                      </table>

                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>

                </div>
              </div>
        </div>
    </script>

    <script type="text/ng-template" id="viewDetails">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 style="text-align: center;">Package Details</h3>

                        <div>
                            <b>Created At</b> : {{rcCtrl.cons_details.created_at | date}}
                        </div>

                        <div>
                            <b>Created By</b> : {{rcCtrl.cons_details.created_by}}
                        </div>

                        <div>
                            <b>Status</b> : {{rcCtrl.cons_details.status | consignment_status}}
                        </div>

                        <div>
                            <b>Reserve Days</b> : {{rcCtrl.cons_details.reserve_for_days}}
                        </div>

                        <div>
                            <b>Waybill</b> : {{rcCtrl.cons_details.waybill}}
                        </div>

                        <div>
                            <b>Shipped On</b> : {{rcCtrl.cons_details.shipped_on}}
                        </div>

                        <div>
                            <b>Source Vendor</b> : {{rcCtrl.vendor_lsit[rcCtrl.cons_details.source_vendor]}}
                        </div>

                        <div>
                            <b>Destination Vendor</b> : {{rcCtrl.vendor_lsit[rcCtrl.cons_details.destination_vendor]}}
                        </div>

                        <div>
                            <b>Destination City</b> : {{rcCtrl.cons_details.destination_city}}
                        </div>

                        <div>
                            <b>Destination Pincode</b> : {{rcCtrl.cons_details.destination_pin_code}}
                        </div>

                        <div>
                            <b>Grand Price</b> : {{rcCtrl.cons_details.grand_price}}
                        </div>

                        <div>
                            <b>Logistic Partner</b> : {{rcCtrl.cons_details.logistic_partner}}
                        </div>

                        <div>
                            <b>Received By</b> : {{rcCtrl.cons_details.received_by}}
                        </div>

                        <div>
                            <b>Received Items</b> : {{rcCtrl.cons_details.received_items}}
                        </div>

                        <div>
                            <b>Vendor Margin Rate</b> : {{rcCtrl.cons_details.vendor_margin_rate}}
                        </div>

                    </div>

                    <div class="col-lg-12 m-t-10">
                        <table datatable="ng" dt-options="rcCtrl.dtOptions"
                               class="table table-striped table-bordered table-hover dataTables-example data-table-ui">
                            <thead class="w-100p">
                            <tr class="w-100p">
                                <th>Id</th>
                                <th>Item Code</th>
                                <th>Item State</th>
                                <th>Item Status</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody class="w-100p">
                            <tr class="w-100p" ng-repeat="data in rcCtrl.cons_details.items_info">
                                <td>{{data.item_id}}</td>
                                <td>{{data.item_code}}</td>
                                <td>{{data.item_state}}</td>
                                <td>{{data.item_status | itemStatus}}</td>
                                <td>{{data.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>
