<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="sellerReturnConsignmentCtrl as srCtrl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="srCtrl.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="srCtrl.spinners">

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">

                    <!-- <select class="form-control w-200 m-b-10" ng-change="srCtrl.getConsignmentList()"
                            ng-model="srCtrl.selected_seller">
                        <option value="" style="display: none">Select Host</option>
                        <option ng-repeat="arr in srCtrl.vendor_list" value="{{arr.id}}">
                            {{arr.user_name}}
                        </option>
                    </select> -->
                    <ui-select class="w-200 m-b-10"
                            ng-model="srCtrl.selected_seller" ng-change="srCtrl.getConsignmentList()">
                        <ui-select-match placeholder="Select Host...">{{$select.selected.user_name}}</ui-select-match>
                        <ui-select-choices repeat="arr in srCtrl.vendor_list | filter: $select.search">
                            <div ng-bind-html="arr.user_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <button class="btn pull-right export-btn m-b-10" ng-if="srCtrl.gridOptionsComplex.data.length"
                            ng-csv="srCtrl.exportToCsv()" csv-header="srCtrl.csv_header"
                            filename="{{'host_return_package_' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                        Export to CSV
                    </button>

                    <div style="clear: both;"></div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="grid common-grid" ng-if="srCtrl.gridOptionsComplex.data.length"
                                 ui-grid="srCtrl.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                 ui-grid-pagination></div>
                        </div>
                    </div>


                    <div class="row" ng-if="srCtrl.gridOptionsComplex.data.length == 0">
                        <div class="col-lg-12">
                            <h3 class="text-red text-center">No Data Available</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6" ng-if="srCtrl.show_rhs">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-lg-12 text-center">
                            <h3>Package Number({{srCtrl.rhs_data.id}})</h3>
                            <div style="clear: both;"></div>
                        </div>

                        <div class="col-lg-12">
                            <h4 class="">Selected Items</h4>
                            <div>
                                <span ng-repeat="item in srCtrl.selected_items track by $index">
                                    {{item.id}}<span ng-if="!$last">, </span>
                                </span>
                            </div>
                            <br>

                            <div>

                                <button class="btn export-btn m-b-10" ng-disabled="srCtrl.selected_items.length <= 0"
                                        ng-click="srCtrl.updateStatus('RCD')">
                                    Mark Received
                                </button>

                                <!--<button class="btn export-btn m-b-10 m-l-10" ng-disabled="srCtrl.selected_items.length <= 0"
                                        ng-click="srCtrl.updateStatus('SOLD')">
                                    Mark Sold Out
                                </button>-->

                                <button class="btn export-btn m-b-10" ng-disabled="srCtrl.selected_items.length <= 0"
                                        ng-click="srCtrl.updateStatus('NRCD')">
                                    Mark Not Received
                                </button>

                            </div>
                            <br>

                            <table datatable="ng" dt-options="srCtrl.dtOptions"
                                   class="table table-striped table-bordered table-hover dataTables-example item-table">
                                <thead>
                                <tr>
                                    <th ng-click="srCtrl.selectItem(srCtrl.rhs_data.items_info,'all')">
                                        <div class="checkbox c-checkbox needsclick">
                                            <label class="needsclick">
                                                <i class="fa fa-square-o" ng-if="!srCtrl.checked"></i>
                                                <i class="fa fa-check-square-o" ng-if="srCtrl.checked"></i>
                                            </label>
                                        </div>
                                    </th>
                                    <th>Image</th>
                                    <th ng-hide="true">Item Id</th>
                                    <th>Size</th>
                                    <th>Category</th>
                                    <th>Cost</th>
                                    <th>Package State</th>
                                    <th>Item Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in srCtrl.rhs_data.items_info">
                                    <td>
                                        <div class="checkbox c-checkbox needsclick"
                                             ng-if="data.status != 'SOT' || data.consignment_state != 'NRCD'"
                                             ng-click="srCtrl.selectItem(data,'single')">
                                            <label class="needsclick">
                                                <i class="fa fa-square-o" ng-if="!data.checked"></i>
                                                <i class="fa fa-check-square-o" ng-if="data.checked"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div ng-if="data.style_info.image_front">
                                            <img ng-if="data.style_info.image_front.indexOf('http') < 0" class="table-img"
                                                 ng-src="{{main.urlList.imagekit_url + data.style_info.image_front}}"
                                                 ng-click="srCtrl.openModalForImage(main.urlList.imagekit_url + data.style_info.image_front)">
                                            <img ng-if="data.style_info.image_front.indexOf('http') >= 0" class="table-img"
                                                 ng-src="{{data.style_info.image_front}}"
                                                 ng-click="srCtrl.openModalForImage(data.style_info.image_front)">
                                        </div>
                                        {{data.item_code}}
                                    </td>
                                    <td ng-hide="true">{{data.item_code}}</td>
                                    <td>{{data.size}}</td>
                                    <td>{{data.style_info.category}}</td>
                                    <td>{{data.price}}</td>
                                    <td>{{data.consignment_state | consignmentState}}</td>
                                    <td>{{data.status | itemStatus}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{srCtrl.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>

</div>
