<!--
************* Created by Surbhi Goel **************
-->

<div ng-controller="loginCtrl as login" class="middle-box text-center loginscreen  animated fadeInDown">

    <div>
        <h1 class="logo-name">
            <img alt="image" class="img" src="http://flyrobe.com/assets/img/logo.png" style="width:60%;"/>
        </h1>
    </div>

    <div class="panel panel-dark panel-flat login-panel">

        <div class="panel-heading text-center">
            <h3>FLYROBE AMAZON SYSTEM</h3>
        </div>

        <div class="panel-body">
            <form class="m-t" validate-form="" novalidate="" role="form" name="loginForm" ng-submit="login.loginToDashboard()">

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" ng-model="login.account.email" required="required">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.account.password" required="required">
                </div>

                <div class="form-group" ng-if="login.show_roles">
                    <select class="form-control" ng-model="login.account.selected_role" placeholder="Select Role" required="required">
                        <option disabled="disabled" value="">Select Role</option>
                        <option ng-repeat="role in login.roles" ng-value="role.id">{{role.role_name}}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" ng-hide="login.spinners">Login</button>

            </form>

            <div ng-show="login.authMsg" class="alert alert-danger text-center">{{login.authMsg}}</div>
            <div class="sk-spinner sk-spinner-chasing-dots" ng-show="login.spinners">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>

            <a ui-sref="recover" class="lg-forgot-password">Forgot Password ?</a>

        </div>

        </div>

    </div>

</div>