<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="inviteCtrl as icCtrl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="icCtrl.spinner">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="icCtrl.spinner">

        <div class="col-lg-6 m-t-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="icCtrl.getImage()">

                            <div class="form-group has-feedback col-lg-6 input-div">
                                <label>Invite Type</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="icCtrl.form.type" required="required">
                                    <option value="" style="display: none;">Select Type</option>
                                    <option value="ME">By Me</option>
                                    <option value="US">By Us</option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-6 input-div">
                                <label>Name</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Name" ng-model="icCtrl.form.name" 
                                       required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-6 input-div">
                                <label>Date </label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Date"  ng-model="icCtrl.form.date"
                                       required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-6 input-div">
                                <label>Time</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Time"  ng-model="icCtrl.form.time"
                                       required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-6">
                                <label>Address Line 1</label> <span class="mandatory">*</span>
                                <textarea class="form-control invite-address-textarea" placeholder="Enter Address Line 1"  ng-model="icCtrl.form.add_line1"
                                       required="required"></textarea>
                            </div>

                            <div class="form-group has-feedback col-lg-6">
                                <label>Address Line 2</label>
                                <textarea class="form-control invite-address-textarea" placeholder="Enter Address Line 2"  ng-model="icCtrl.form.add_line2">
                                    </textarea>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn create-btn m-b m-t-10">
                                                View Image And Get URL
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12"  ng-if="icCtrl.show_image">

                                    <div class="invite-url-div">
                                        <button copy-to-clipboard="{{main.urlList.cloundnary_url_2 + icCtrl.url1}}"
                                                class="btn create-btn m-b">
                                            Copy URL
                                        </button>
                                        <br>
                                        URL 1 :
                                        <b>{{main.urlList.cloundnary_url_2 + icCtrl.url1}}</b>

                                    </div>
                                    <br>
                                    <div class="invite-url-div">

                                        <button copy-to-clipboard="{{main.urlList.cloundnary_url_2 + icCtrl.url2}}"
                                                class="btn create-btn m-b">
                                            Copy URL
                                        </button>
                                        <br>
                                        URL 2 :
                                        <b>{{main.urlList.cloundnary_url_2 + icCtrl.url2}}</b>

                                    </div>
                                    <br>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-t-10" ng-if="icCtrl.show_image">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div>
                            <img ng-src="{{main.urlList.cloundnary_url_2 + icCtrl.url1}}" class="w-100p">
                        </div>
                        <br><br><br>
                        <div>
                            <img ng-src="{{main.urlList.cloundnary_url_2 + icCtrl.url2}}" class="w-100p">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>