<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="bulkcatalogCtrl as bk">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="bk.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="bk.spinners">

        <div class="col-lg-12">

            <button class="btn m-t-7 m-l-10 float-right" ui-sref="flyrobe.catalog">
                Back
            </button>

            <button class="btn m-t-7 float-right"
                    ng-csv="bk.csvArray" csv-header="bk.getHeader"
                    filename="catalog_format.csv" field-separator="," decimal-separator="">
                + Download CSV Format
            </button>

            <input type="file" id="csvfile" class="csv-upload-btn btn" placeholder="Upload CSV File"
            onchange="bk.readCSVFile(this)" accept=".csv">

            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10">

            <table datatable="ng" dt-options="bk.dtOptions"
                   class="table table-striped table-bordered table-hover dataTables-example item-table">
                <thead>
                <tr>
                    <th>Merchant ID</th>
                    <th>Merchant Name</th>
                    <th>Seller SKU Code</th>
                    <th>Gender</th>
                    <th>Identification Code</th>
                    <th>Cost</th>
                    <th>HSN</th>
                    <th>GST(%)</th>
                    <th>Front-Image</th>
                    <th>Short Description</th>
                    <th>Long Description</th>
                    <th>Fitting Notes</th>
                    <th>Category</th>
                    <th>SAC</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Filler</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in bk.table_data">
                    <td>{{data.manufacturer_id}}</td>
                    <td>{{data.manufacture_name}}</td>
                    <td>{{data.vendor_sku_code}}</td>
                    <td>{{data.gender}}</td>
                    <td>{{data.identification_code}}</td>
                    <td>{{data.cost}}</td>
                    <td>{{data.hsn}}</td>
                    <td>{{data.gst_percentage}}</td>
                    <td>
                        <img ng-src="{{data.image_front}}" alt="Image" class="table-img"
                             ng-click="bk.openModalForImage(data.image_front)">
                    </td>
                    <td>{{data.short_description}}</td>
                    <td>{{data.long_description}}</td>
                    <td>{{data.fitting_notes}}</td>
                    <td>{{data.category}}</td>
                    <td>{{data.sac}}</td>
                    <td>{{data.sizes}}</td>
                    <td>{{data.no_of_outfits}}</td>
                    <td>{{data.filler}}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <!--<div id="dvCSV"></div>-->

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{bk.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>