<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="catalogCtrl as cc">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="cc.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="cc.spinners">

        <div class="col-lg-12">

            <!--<button class="btn m-t-7 m-l-10 float-right" ui-sref="flyrobe.createBulkCatalog">
                + Create Bulk Catalog
            </button>-->

            <button class="btn m-t-7 m-l-10 float-right" ui-sref="flyrobe.createCatalog">
                + Create Catalog
            </button>

            <button class="btn m-t-7 m-l-10 float-right" ui-sref="flyrobe.itemList">
                Item List
            </button>

            <button class="btn m-t-7 m-l-10 float-right" ng-click="cc.openEditCatalogModal()">
                Edit Catalog Details
            </button>

            <button class="btn m-t-7 float-right" ng-click="cc.openUpdateSizeModal()">
                Update Item Size
            </button>

            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <select class="form-control w-200 float-left"
                                    ng-model="cc.selected_manufacture">
                                <option value="">Select Merchant</option>
                                <option ng-repeat="arr in cc.manufacturer_list_2" value="{{arr.id}}">
                                    {{arr.user_name}}
                                </option>
                                <option value="">
                                    All
                                </option>
                            </select>

                            <select class="form-control w-200 float-left m-l-10"
                                    ng-model="cc.selected_status">
                                <option value="">Select Status</option>
                                <option ng-repeat="arr in cc.item_status" value="{{arr.id}}">
                                    {{arr.name}}
                                </option>
                                <option value="">
                                    All
                                </option>
                            </select>

                            <button class="btn export-btn m-l-10 float-left" ng-click="cc.getData()">
                                Get Data
                            </button>

                            <button class="btn pull-right export-btn m-b-10" ng-if="cc.gridOptionsComplex.data.length"
                                    ng-csv="cc.exportToCsv()" csv-header="cc.csv_header"
                                    filename="{{'catalog_list' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                                Export to CSV
                            </button>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="cc.gridOptionsComplex.data.length"
                                         ui-grid="cc.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="cc.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{cc.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>

    <script type="text/ng-template" id="updateCatalogDetailsModal">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="text-center">SKU Details</h3>
                    </div>

                    <div class="col-lg-6">
                        <div><b>Identification Code</b> {{cc.selected_catalog.full_info.identification_code}}</div>
                        <div><b>Category</b> {{cc.selected_catalog.full_info.category}}</div>
                        <div><b>Price</b> {{cc.selected_catalog.full_info.price}}</div>
                        <div><b>Long Description</b> {{cc.selected_catalog.long_description}}</div>
                        <div><b>Filler</b> {{cc.selected_catalog.full_info.is_filler ? 'Yes' : 'No'}}</div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="cc.uploadFilesOnServer()">

                            <div class="form-group has-feedback col-lg-6 input-div">
                                <label>Whats Included</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Whats Included"
                                       ng-model="cc.selected_catalog.whats_included"  required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-6 input-div">
                                <label>Short Description</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Short Description"
                                       ng-model="cc.selected_catalog.short_description" required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-6">
                                <label>Front Image</label> <span class="mandatory">*</span>
                                <div>
                                    <input class="form-control" ng-model="cc.selected_catalog.temp_front_image"
                                           onchange="cc.uploadFile('front_image','FILE',this)"
                                           type="file" data-show-upload="false" accept="image/*"/>
                                </div>

                                <div>OR</div>

                                <div>
                                    <input class="form-control" ng-model="cc.selected_catalog.new_front_image_url"
                                           ng-change="cc.uploadFile('front_image','URL',this)"
                                           placeholder="Enter Image URL"
                                           type="url"/>
                                </div>

                            </div>

                            <div class="form-group has-feedback col-lg-6" style="height:121px;">
                                <img ng-src="{{cc.selected_catalog.new_front_image_url}}"
                                style="max-height: 121px; margin: auto;" ng-if="cc.selected_catalog.new_front_image_url">
                                <img id="front_image" src="#" alt="Image"
                                     style="max-height: 121px; margin: auto;" ng-if="!cc.selected_catalog.new_front_image_url">
                            </div>

                            <div class="form-group has-feedback col-lg-12 input-div">
                                <div>
                                    <label>Style Category</label>
                                    <ui-select multiple close-on-select="false" ng-change="cc.tagUpdate()"
                                            ng-model="cc.select_tags" ng-disabled="cc.disabled">
                                        <ui-select-match placeholder="Select Style Category...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="arr in cc.tags_list | filter: $select.search">
                                            <div ng-bind-html="arr.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Cost</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Cost"
                                       ng-model="cc.selected_catalog.cost" required="required" positive-integer>
                            </div>


                            <div class="col-lg-12">

                                <div class="form-group text-center">
                                    <button type="submit" class="btn create-btn m-b m-t-10">
                                        Update Catalog Details
                                    </button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </script>

    <!-- Modal to display catalog item details & update their status -->
    <script type="text/ng-template" id="viewDetails">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="text-center">SKU Details</h3>
                    </div>

                    <div class="col-lg-6">
                        <img class="ngDialog-img w-100p" ng-src="{{main.urlList.imagekit_120_url + cc.selected_catalog.image_front}}"
                             ng-if="cc.selected_catalog.image_front.indexOf('http') < 0">

                        <img class="ngDialog-img w-100p" ng-src="{{cc.selected_catalog.image_front}}"
                             ng-if="cc.selected_catalog.image_front.indexOf('http') >= 0">
                    </div>

                    <div class="col-lg-6">
                        <div><b>Identification Code</b> {{cc.selected_catalog.identification_code}}</div>
                        <div><b>Category</b> {{cc.selected_catalog.category}}</div>
                        <div><b>Price</b> {{cc.selected_catalog.price}}</div>
                        <div><b>Short Description</b> {{cc.selected_catalog.short_description}}</div>
                        <div><b>Long Description</b> {{cc.selected_catalog.long_description}}</div>
                        <div><b>Filler</b> {{cc.selected_catalog.is_filler ? 'Yes' : 'No'}}</div>
                    </div>

                    <div class="col-lg-12 m-t-10">

                        <select class="form-control w-200 float-left"
                                ng-model="cc.selected_status">
                            <option value="">Select Status</option>
                            <option ng-repeat="arr in cc.status_array" value="{{arr.id}}">
                                {{arr.name}}
                            </option>
                        </select>

                        <button class="btn export-btn m-l-10 float-left" ng-click="cc.updateStatus()">
                            Update Status
                        </button>

                        <div style="clear: both"></div>

                    </div>

                    <div class="col-lg-12 m-t-10">
                        <table datatable="ng" dt-options="cc.dtOptions"
                               class="table table-striped table-bordered table-hover dataTables-example data-table-ui">
                            <thead class="w-100p">
                            <tr class="w-100p">
                                <th></th>
                                <th>Invoice Number</th>
                                <th>Item Id</th>
                                <th>Item Code</th>
                                <th>Item Status</th>
                                <th>Size</th>
                            </tr>
                            </thead>
                            <tbody class="w-100p">
                            <tr class="w-100p" ng-repeat="data in cc.selected_catalog.item_info">
                                <td>
                                    <div class="checkbox c-checkbox needsclick p-8 h-100p" ng-click="cc.selectItem(data)">
                                        <label class="needsclick">
                                            <i class="fa fa-square-o" ng-hide="data.checked"></i>
                                            <i class="fa fa-check-square-o" ng-show="data.checked"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>{{data.invoice_number}}</td>
                                <td>{{data.id}}</td>
                                <td>{{data.item_code}}</td>
                                <td>{{data.status | itemStatus}}</td>
                                <td>{{data.size}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </script>

    <!-- Modal to update Item Size -->
    <script type="text/ng-template" id="updateItemSize">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="text-center">SKU Details</h3>
                    </div>

                    <div class="col-lg-6">
                        <img class="ngDialog-img w-100p" ng-src="{{main.urlList.imagekit_120_url + cc.selected_catalog.image_front}}"
                             ng-if="cc.selected_catalog.image_front.indexOf('http') < 0">

                        <img class="ngDialog-img w-100p" ng-src="{{cc.selected_catalog.image_front}}"
                             ng-if="cc.selected_catalog.image_front.indexOf('http') >= 0">
                    </div>

                    <div class="col-lg-6">
                        <div><b>Identification Code</b> {{cc.selected_catalog.identification_code}}</div>
                        <div><b>Category</b> {{cc.selected_catalog.category}}</div>
                        <div><b>Price</b> {{cc.selected_catalog.price}}</div>
                        <div><b>Short Description</b> {{cc.selected_catalog.short_description}}</div>
                        <div><b>Long Description</b> {{cc.selected_catalog.long_description}}</div>
                        <div><b>Filler</b> {{cc.selected_catalog.is_filler ? 'Yes' : 'No'}}</div>
                    </div>

                    <div class="col-lg-12 m-t-10">
                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm"
                              ng-submit="cc.updateItemSize()">

                            <select class="form-control float-left w-50p" ng-model="cc.new_size" required="required">
                                <option value="" style="display: none;">Select Size</option>
                                <option ng-repeat="size in cc.female_size_list" value="{{size}}">{{size}}</option>
                            </select>

                            <button class="btn export-btn m-l-10 float-left" type="submit">
                                Update Size
                            </button>

                            <div style="clear: both"></div>

                        </form>

                    </div>

                    <div class="col-lg-12 m-t-10">
                        <table datatable="ng" dt-options="cc.dtOptions"
                               class="table table-striped table-bordered table-hover dataTables-example data-table-ui">
                            <thead class="w-100p">
                            <tr class="w-100p">
                                <th></th>
                                <th>Invoice Number</th>
                                <th>Item Id</th>
                                <th>Item Code</th>
                                <th>Item Status</th>
                                <th>Size</th>
                            </tr>
                            </thead>
                            <tbody class="w-100p">
                            <tr class="w-100p" ng-repeat="data in cc.selected_catalog.item_info">
                                <td>
                                    <div class="checkbox c-checkbox needsclick p-8 h-100p" ng-click="cc.seleted_item = data.id;cc.new_size = data.size">
                                        <label class="needsclick">
                                            <i class="fa fa-circle-o" ng-hide="cc.seleted_item == data.id"></i>
                                            <i class="fa fa-check-circle-o" ng-show="cc.seleted_item == data.id"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>{{data.invoice_number}}</td>
                                <td>{{data.id}}</td>
                                <td>{{data.item_code}}</td>
                                <td>{{data.status | itemStatus}}</td>
                                <td>{{data.size}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </script>


</div>
