<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createCatalogCtrl as ccCtrl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="ccCtrl.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="ccCtrl.spinners">

        <div class="col-lg-12">
            <button class="btn m-t-7 float-right" ui-sref="flyrobe.catalog">
                Back
            </button>
            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="ccCtrl.uploadInvoiceOnServer()">

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <div>
                                    <label>Merchant</label> <span class="mandatory">*</span>
                                    <ui-select ng-model="ccCtrl.catalog.manufacture" theme="bootstrap"
                                               class="singleError ui-select-readonly"
                                               ng-class="{'parsley-error' : ccCtrl.catalog.manufacture == '' || ccCtrl.catalog.manufacture == null || ccCtrl.catalog.manufacture == undefined}">
                                        <ui-select-match placeholder="Select Merchant...">{{$select.selected.user_name}}</ui-select-match>
                                        <ui-select-choices repeat="manu in ccCtrl.manufacture_list | filter: $select.search">
                                            <div ng-bind-html="manu.user_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="ccCtrl.catalog.manufacture == '' || ccCtrl.catalog.manufacture == null || ccCtrl.catalog.manufacture == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Seller SKU Code</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Seller SKU Code"
                                       ng-model="ccCtrl.catalog.vendor_sku_code" required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Invoice Number</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Invoice Number"
                                       ng-model="ccCtrl.catalog.invoice_number" required="required" alpha-numeric>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div invoice_image-div">
                                <label>Invoice</label>
                                <input class="form-control file file-loading float-left"
                                       onchange="ccCtrl.uploadFile('invoice_image',this)"
                                       style="background: transparent;"
                                       type="file" data-show-upload="false" accept="image/*"/>
                                <img id="invoice_image" src="#" alt="image" width="50" class="float-right"
                                     style="margin-top:-54px;"/>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Gender</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="ccCtrl.catalog.gender"
                                    ng-change="ccCtrl.catalog.size = [];ccCtrl.size_qty = {}"  required="required">
                                    <option value="" style="display: none;">Select Gender</option>
                                    <option value="FML">Female</option>
                                    <!--<option value="ML">Male</option>-->
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <div>
                                    <label>Style Category</label> <span class="mandatory">*</span>
                                    <ui-select ng-model="ccCtrl.catalog.tags" theme="bootstrap"
                                               class="singleError ui-select-readonly"
                                               ng-class="{'parsley-error' : ccCtrl.catalog.tags == '' || ccCtrl.catalog.tags == null || ccCtrl.catalog.tags == undefined}">
                                        <ui-select-match placeholder="Select Style Category...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="tag in ccCtrl.tags_list | filter: $select.search">
                                            <div ng-bind-html="tag.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ul class="parsley-errors-list filled" ng-if="ccCtrl.catalog.tags == '' || ccCtrl.catalog.tags == null || ccCtrl.catalog.tags == undefined">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Filler</label>
                                <select class="form-control" ng-model="ccCtrl.catalog.filler">
                                    <option value="" style="display: none;">Select Filler</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Identification Code</label> <span class="mandatory">*</span>
                                <a href="" ng-click="ccCtrl.getFillerDetails()">Get Details</a>
                                <input type="text" class="form-control" placeholder="Enter Identification Code"
                                       ng-model="ccCtrl.catalog.identification_code" required="required"
                                       alpha-numeric>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Whats Included</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Whats Included"
                                       ng-model="ccCtrl.catalog.whats_included"  required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Short Description</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Short Description"
                                       ng-model="ccCtrl.catalog.short_desc" required="required">
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Long Description</label>
                                <input type="text" class="form-control" placeholder="Enter Long Description"
                                       ng-model="ccCtrl.catalog.long_desc">
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Fitting Notes</label>
                                <input type="text" class="form-control" placeholder="Enter Fitting Notes"
                                       ng-model="ccCtrl.catalog.fitting_notes">
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Category</label> <span class="mandatory">*</span>
                                <select class="form-control" ng-model="ccCtrl.catalog.category"
                                ng-change="ccCtrl.changeCategory()"  required="required">
                                    <option value="" style="display: none;">Select Category</option>
                                    <option ng-repeat="cate in ccCtrl.catagory_list" value="{{cate}}">{{cate}}</option>
                                </select>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>Cost</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter Cost"
                                       ng-model="ccCtrl.catalog.cost" required="required" positive-integer>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>HSN</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="Enter HSN"
                                       ng-model="ccCtrl.catalog.hsn" required="required" positive-decimal>
                            </div>

                            <!--<div class="form-group has-feedback col-lg-4 input-div">
                                <label>SAC</label>
                                <input type="text" class="form-control" placeholder="Enter SAC"
                                       ng-model="ccCtrl.catalog.sac" positive-decimal>
                            </div>-->

                            <div class="form-group has-feedback col-lg-4 input-div">
                                <label>GST (%)</label> <span class="mandatory">*</span>
                                <input type="text" class="form-control" placeholder="GST (%)"
                                       data-parsley-max="100" required="required"
                                       ng-model="ccCtrl.catalog.gst_percentage" positive-decimal>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div front_image-div">
                                <label>Front Image</label> <span class="mandatory">*</span>
                                <input class="form-control file file-loading float-left"
                                       onchange="ccCtrl.uploadFile('front_image',this)"
                                       style="background: transparent;"
                                       ng-required="ccCtrl.front_image == '' || ccCtrl.front_image == null || ccCtrl.front_image == undefined"
                                       type="file" data-show-upload="false" accept="image/*"/>
                                <img id="front_image" src="#" alt="image" width="50" class="float-right"
                                     style="margin-top:-54px;"/>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div back_image-div">
                                <label>Back Image</label>
                                <input class="form-control file file-loading float-left"
                                       onchange="ccCtrl.uploadFile('back_image',this)"
                                       style="background: transparent;"
                                       type="file" data-show-upload="false" accept="image/*"/>
                                <img id="back_image" src="#" alt="image" width="50" class="float-right"
                                style="margin-top:-54px;"/>
                                <div style="clear: both;"></div>
                            </div>

                            <div class="form-group has-feedback col-lg-4 input-div multi_image-div">
                                <label>Multi Image</label>
                                <input class="form-control file file-loading float-left"
                                       onchange="ccCtrl.uploadFile('multi_image',this)"
                                       style="background: transparent;" multiple
                                       type="file" data-show-upload="false" accept="image/*"/>
                                <div style="clear: both;"></div>
                            </div>

                            <!-- Size list div -->
                            <div class="col-lg-12" ng-if="ccCtrl.catalog.gender">
                                <div class="row">

                                    <div class="form-group has-feedback col-lg-4 input-div">

                                    <label>Select Size</label> <span class="mandatory">*</span>
                                    <ui-select multiple ng-model="ccCtrl.catalog.size" theme="bootstrap"
                                               class="singleError ui-select-readonly"
                                               ng-show="ccCtrl.catalog.gender == 'FML'">
                                        <ui-select-match placeholder="Select Size...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="size in ccCtrl.female_size_list | filter: $select.search">
                                            <div ng-bind-html="size | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                    <!--<ui-select multiple ng-model="ccCtrl.catalog.size" theme="bootstrap"
                                               class="singleError ui-select-readonly"
                                               ng-show="ccCtrl.catalog.gender == 'ML'">
                                        <ui-select-match placeholder="Select Size...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="size in ccCtrl.male_size_list | filter: $select.search">
                                            <div ng-bind-html="size | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>-->

                                    </div>

                                    <div class="form-group has-feedback col-lg-8 input-div m-t-20">

                                        <div ng-repeat="size in ccCtrl.catalog.size" class="main-size-div">
                                            <div class="float-left size-head">{{size}}</div>
                                            <div class="float-left">
                                                <input class="form-control size-input" type="text" ng-model="ccCtrl.size_qty[size]"
                                                       placeholder="QTY" required="required" positive-integer>
                                            </div>
                                            <div style="clear: both"></div>
                                        </div>

                                        <div style="clear: both;"></div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4">

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary block m-b m-t-10">
                                                Create Catalog
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
