<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="itemListCtrl as ilCtrl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="ilCtrl.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="ilCtrl.spinners">

        <div class="col-lg-12">

            <select class="form-control w-200 float-left"
                    ng-model="ilCtrl.selected_status">
                <option value="">Select Status</option>
                <option ng-repeat="arr in ilCtrl.status_array" value="{{arr.id}}">
                    {{arr.name}}
                </option>
            </select>

            <button class="btn m-l-10 float-left" ng-click="ilCtrl.updateStatus()"
                    ng-if="('P3' | component : ilCtrl.panel) == 'W'">
                Update Status
            </button>

            <button class="btn m-t-7 float-right" ui-sref="flyrobe.catalog">
                Back
            </button>

            <div style="clear: both;"></div>

            <div ng-if="ilCtrl.selected_items.length > 0">
                <b>Selected Items : {{ilCtrl.selected_items.length}}</b>
            </div>

        </div>

        <div class="col-lg-12 m-t-10" ng-if="ilCtrl.gridOptionsComplex.data">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <select class="form-control w-200" ng-change="ilCtrl.getData()"
                                    ng-model="ilCtrl.selected_manufacture">
                                <option value="">Select Merchant</option>
                                <option ng-repeat="arr in ilCtrl.manufacturer_list_2" value="{{arr.id}}">
                                    {{arr.user_name}}
                                </option>
                                <option value="">
                                    All
                                </option>
                            </select>

                            <button class="btn pull-right export-btn m-b-10" ng-if="ilCtrl.gridOptionsComplex.data.length"
                                    ng-csv="ilCtrl.exportToCsv()" csv-header="ilCtrl.csv_header"
                                    filename="{{'item_list' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                                Export to CSV
                            </button>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="ilCtrl.gridOptionsComplex.data.length"
                                         ui-grid="ilCtrl.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="ilCtrl.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{ilCtrl.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>