<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createManufactureCtrl as cmCtrl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="cmCtrl.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="cmCtrl.spinners">

        <div class="col-lg-12">
            <button class="btn m-t-7 float-right" ui-sref="flyrobe.manufacture">
                Back
            </button>
            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10">
            <div class="ibox">
                <div class="ibox-content">

                    <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm" ng-submit="cmCtrl.createManufacture()">

                        <div class="form-group has-feedback col-lg-4">
                            <label>Username</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter Username"  ng-model="cmCtrl.manufacture.user_name" required="required">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>First Name</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter First Name"  ng-model="cmCtrl.manufacture.first_name" required="required">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>Last Name</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter Last Name"  ng-model="cmCtrl.manufacture.last_name" required="required">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>Purchase Type</label> <span class="mandatory">*</span>
                            <select class="form-control" ng-model="cmCtrl.manufacture.type_purchase" required="required">
                                <option value="" style="display: none;">Select Purchase Type</option>
                                <option value="Outright">Outright</option>
                                <option value="Online-Outright">Online Outright</option>
                                <option value="Consignment">Consignment</option>
                            </select>
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Enter email"  ng-model="cmCtrl.manufacture.email">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>Phone Number</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter Phone Number"  ng-model="cmCtrl.manufacture.phone_no"
                                   data-parsley-length="[10, 10]" required="required" positive-integer="">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>Address</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter Address"  ng-model="cmCtrl.manufacture.address" required="required">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>PAN No</label>
                            <input type="text" class="form-control" placeholder="Enter PAN No"
                                   ng-model="cmCtrl.manufacture.pan_no"
                                   data-parsley-pattern="/^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/"
                                   alpha-numeric>
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>GSTIN</label> <span class="mandatory" ng-if="cmCtrl.manufacture.type_purchase != 'Online-Outright'">*</span>
                            <input type="text" class="form-control" placeholder="Enter GSTIN"  ng-model="cmCtrl.manufacture.gst"
                                   ng-required="cmCtrl.manufacture.type_purchase != 'Online-Outright'" alpha-numeric="">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>City</label> <span class="mandatory">*</span>
                            <input type="text" class="form-control" placeholder="Enter City"  ng-model="cmCtrl.manufacture.city" required="required">
                        </div>

                        <div class="form-group has-feedback col-lg-4">
                            <label>Margin Rate</label>
                            <input type="text" class="form-control" placeholder="Enter Margin Rate"  ng-model="cmCtrl.manufacture.margin_rate"
                            positive-integer="">
                        </div>

                        <div class="row">
                            <div class="col-lg-12 m-t-10">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary block m-b freset-submit-btn" style="margin: auto;">
                                        Create Merchant
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>


</div>
