<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="manufactureCtrl as mf">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="mf.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="mf.spinners">

        <div class="col-lg-12">
            <button class="btn m-t-7 m-l-10 float-right" ui-sref="flyrobe.createManufacture"
                    ng-if="('PC7' | component : mf.panel) == 'W'">
                + Create Merchant
            </button>

            <button class="btn m-t-7 float-right" ng-click="mf.openEditManufactureModal()">
                + Edit Merchant
            </button>

            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10" ng-if="mf.gridOptionsComplex.data">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <button class="btn pull-right export-btn m-b-10" ng-if="mf.gridOptionsComplex.data.length"
                                    ng-csv="mf.exportToCsv()" csv-header="mf.csv_header"
                                    filename="{{'merchant_list' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                                Export to CSV
                            </button>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="mf.gridOptionsComplex.data.length"
                                         ui-grid="mf.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="mf.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="editManufactureModal">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 style="text-align: center;">Merchant Details</h3>

                        <div>
                            <b>Created At</b> : {{mf.selected_merchant.created_at | date}}
                        </div>

                        <div>
                            <b>User Name</b> : {{mf.selected_merchant.user_name}}
                        </div>

                        <div>
                            <b>Merchant Name</b> : {{mf.selected_merchant.name}}
                        </div>

                        <div>
                            <b>Merchant Email</b> : {{mf.selected_merchant.email}}
                        </div>

                        <div>
                            <b>Merchant Phone No</b> : {{mf.selected_merchant.phone_number}}
                        </div>

                        <div>
                            <b>Merchant Address</b> : {{mf.selected_merchant.address}}
                        </div>

                        <div>
                            <b>Purchase Type</b> : {{mf.selected_merchant.type_purchase}}
                        </div>

                    </div>

                    <br><br>

                    <div class="col-lg-12">
                        <label>GST</label>
                        <input type="text" class="form-control" placeholder="Enter GST"
                               ng-model="mf.selected_merchant.updated_gst" alpha-numeric="">
                    </div>

                    <div class="col-lg-12">
                        <button class="btn m-t-7 btn-primary" ng-click="mf.updateMerchant()"
                        ng-disabled="!mf.selected_merchant.updated_gst">
                            Update GST
                        </button>
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>