<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu navlist" id="side-menu">

            <li class="nav_header" ui-sref-active="active">
                <a class="navigation-a">
                    <i class="fa fa-flyrobe"></i>
                    <div class="nav-label">{{ 'AMAZON'}}</div>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="'MCH' | tab">
                <a ui-sref="flyrobe.manufacture" class="navigation-a">
                    <i class="fa fa-cc"></i>
                    <div class="nav-label">{{ 'Merchant'}}</div>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="main.point_of_contact_list.indexOf(main.email) >= 0">
                <a ui-sref="flyrobe.invites" class="navigation-a">
                    <i class="fa fa-newspaper-o"></i>
                    <div class="nav-label">{{ 'Invites'}}</div>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="'CAT' | tab">
                <a ui-sref="flyrobe.catalog" class="navigation-a">
                    <i class="fa fa-codepen"></i>
                    <div class="nav-label">{{ 'Catalog'}}</div>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="'SEL' | tab">
                <a ui-sref="flyrobe.vendor" class="navigation-a">
                    <i class="fa fa-user"></i>
                    <div class="nav-label">{{ 'Host'}}</div>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="'PICK' | tab">
                <a ui-sref="flyrobe.picklist" class="navigation-a">
                    <i class="fa fa-newspaper-o"></i>
                    <div class="nav-label">{{ 'Picklist'}}</div>
                </a>
            </li>

            <li ui-sref-active="active" ng-if="('CONS' | tab) || ('RTD' | tab)">
                <a ui-sref="#" class="navigation-a">
                    <i class="fa fa-fighter-jet"></i>
                    <div class="nav-label">{{ 'Package' | translate }}</div>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li ui-sref-active="active" ng-if="'CONS' | tab"><a ui-sref="flyrobe.consignment">{{ 'Package List' | translate }}</a></li>
                    <li ui-sref-active="active" ng-if="'RTD' | tab"><a ui-sref="flyrobe.returnConsignmentList">{{ 'Return List' | translate }}</a></li>
                </ul>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="flyrobe.trunkshow" class="navigation-a">
                    <i class="fa fa-tags"></i>
                    <div class="nav-label">{{ 'Trunkshow'}}</div>
                </a>
            </li>

        </ul>
    </div>
</nav>
