<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createPicklistCtrl as con">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="con.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="con.spinners">

        <!--<div class="col-lg-12">
            <button class="btn m-t-7 float-right" ui-sref="flyrobe.picklist">
                Back
            </button>
            <div style="clear: both;"></div>
        </div>-->

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div id="seleted-items-div" class="col-lg-4 order-row">

                            <div ng-if="con.selected_items.length">

                                <h4> Selected items ({{con.selected_items.length}})</h4>
                                <h4 ng-if="con.remove_items.length > 0"> Unavailable items ({{con.remove_items.length}})
                                  <a ng-click="con.removeAll()" style="float:right"><img style="height:20px; width:20px; margin-right: 6px;" src="./img/dust.png" />(Remove All)</a>
                                </h4>
                                <table class="table table-striped table-bordered table-hover dataTables-example m-b-0">
                                    <tr>
                                        <th>Id</th>
                                        <th>Image</th>
                                        <th>Size</th>
                                        <th style="width:150px;">Required Items</th>
                                        <th></th>
                                    </tr>
                                    <tbody>
                                    <tr ng-repeat="item in con.selected_items">
                                        <td>{{item.identification_code}}</td>
                                        <td>

                                            <div ng-if="item.image_front.indexOf('http') < 0">
                                                <img src="{{main.urlList.imagekit_100_url + item.image_front}}" alt="Image"
                                                     ng-click="con.openModalForImage(main.urlList.imagekit_url + item.image_front)"
                                                     class="img-responsive img-circle"
                                                     style="height: 40px; width: 25px; cursor: pointer;"/>
                                            </div>

                                            <div ng-if="item.image_front.indexOf('http') >= 0">
                                                <img src="{{item.image_front}}" alt="Image"
                                                     ng-click="con.openModalForImage(item.image_front)"
                                                     class="img-responsive img-circle"
                                                     style="height: 40px; width: 25px; cursor: pointer;"/>
                                            </div>

                                        </td>
                                        <td>{{item.item_info.size}}</td>
                                        <td>

                                            <a class="btn btn-primary"
                                               ng-click="item.required_items = item.required_items - 1;con.added_qty = con.added_qty - 1;"
                                               ng-if="item.required_items > 1">
                                                -
                                            </a>

                                            <a class="btn btn-transparent"> {{item.required_items}}</a>

                                            <a class="btn btn-primary"
                                               ng-click="item.required_items = item.required_items + 1;con.added_qty = con.added_qty + 1;">
                                                +
                                            </a>

                                            <div style="clear: both;"></div>
                                        </td>
                                        <td>
                                          <a ng-click="con.selectCheckBox(item)">
                                              <img style="height:20px; width:20px" src="./img/dust.png" />
                                          </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Total Quantity</th>
                                        <th>{{con.added_qty}}</th>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>

                        <div class="col-lg-8">
                            <div class="row order-row">

                                <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm"
                                      ng-submit="con.createPicklist()">

                                    <div class="col-lg-8">
                                        <div class="row">

                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <div>
                                                    <label>Trunkshow Host </label> <span class="mandatory">*</span>
                                                    <ui-select ng-model="con.cons.vendor" theme="bootstrap"
                                                               class="singleError ui-select-readonly" ng-change="con.getVendorDetails(con.cons.vendor)"
                                                               ng-class="{'parsley-error' : con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined}">
                                                        <ui-select-match placeholder="Select Trunkshow Host..">{{$select.selected.boutique_vendors_user_name}}</ui-select-match>
                                                        <ui-select-choices repeat="ven in con.trunkshow_list | filter: $select.search">
                                                            <div ng-bind-html="ven.boutique_vendors_user_name + ' - ' + ven.id | highlight: $select.search"></div>
                                                            <div>{{ven.event_start_date | date}}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <ul class="parsley-errors-list filled" ng-if="con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined">
                                                        <li class="parsley-required">This value is required.</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <div>
                                                    <label>Sender</label> <span class="mandatory">*</span>
                                                    <ui-select ng-model="con.cons.sender" theme="bootstrap"
                                                               class="singleError ui-select-readonly"
                                                               ng-class="{'parsley-error' : con.cons.sender == '' || con.cons.sender == null || con.cons.sender == undefined}">
                                                        <ui-select-match placeholder="Select Sender...">{{$select.selected.user_name}}</ui-select-match>
                                                        <ui-select-choices repeat="ven in con.sender_list | filter: $select.search">
                                                            <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <ul class="parsley-errors-list filled" ng-if="con.cons.sender == '' || con.cons.sender == null || con.cons.sender == undefined">
                                                        <li class="parsley-required">This value is required.</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <label>Margin Type</label> <span class="mandatory">*</span>
                                                <select class="form-control" ng-model="con.cons.new_margin_type" required="required">
                                                    <option value="" style="display: none;">Select Type</option>
                                                    <option value="PER">Percentage</option>
                                                    <option value="ABS">Absolute</option>
                                                </select>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4"
                                                 ng-if="con.cons.new_margin_type == 'PER'">
                                                <label>Margin Percentage</label> <span class="mandatory">*</span>
                                                <input type="text" class="form-control" placeholder="Enter Margin Percentage"
                                                       ng-model="con.cons.new_margin_rate" required="required" data-parsley-max="100"
                                                       positive-integer>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4"
                                                 ng-if="con.cons.new_margin_type == 'ABS'">
                                                <label>Margin Absolute</label> <span class="mandatory">*</span>
                                                <input type="text" class="form-control" placeholder="Enter Margin Absolute"
                                                       ng-model="con.cons.new_margin_rate_absolute" required="required"
                                                       positive-integer>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <label>No. of Reserve Days</label> <span class="mandatory">*</span>
                                                <input type="text" class="form-control" placeholder="Enter No. of Reserve Days"
                                                       ng-model="con.cons.days" required="required" data-parsley-min="1"
                                                       positive-integer>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4 confirm-date-div">
                                                <label>To Be Received Date</label> <span class="mandatory">*</span>
                                                <div class="datepicker input-group date"
                                                     date-set-hidden="true"
                                                     date-min-limit={{main.currentDate}}
                                                     date-format="yyyy-MM-dd"
                                                     date-typer="true"
                                                     button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                                     button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                                    <input type="text" class="angular-datepicker-input form-control custom-cursor-bg date-input-with-calender"
                                                           onchange="con.changeConfirmDate()"
                                                           placeholder="Select Confirmed Date" required="required"
                                                           ng-model="con.cons.date" readonly=""/>
                                                </div>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <label>Assign To</label>
                                                <input type="text" class="form-control" placeholder="Assignee"
                                                       ng-model="con.cons.assign_to">
                                            </div>


                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <label>Ideal Count</label> <span class="mandatory">*</span>
                                                <input type="text" class="form-control" placeholder="Enter Ideal Count"
                                                       ng-model="con.cons.ideal_count" required="required" data-parsley-min="1"
                                                       positive-integer>
                                            </div>

                                            <div class="form-group has-feedback input-div col-lg-4">
                                                <label>Comment</label>
                                                <textarea type="text" class="form-control comment-textarea" placeholder="Enter Comment"
                                                          ng-model="con.cons.comment"></textarea>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-4"></div>
                                                    <div class="col-lg-4">

                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary block m-b m-t-10">
                                                                Create Picklist
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-4 picklist-table" ng-if="con.show_vendor_details">

                                        <h3>Vendor Details</h3>
                                        <table ng-if="con.cons.vendor.box_specifications_info.kit_info.length > 0">
                                          <tr>
                                            <th>Box Id</th>
                                            <th>Box Specification</th>
                                            <th>Box Type</th>
                                          </tr>
                                          <tr ng-repeat="box in con.cons.vendor.box_specifications_info.kit_info">
                                            <td>{{box.box_id}}</td>
                                            <td>{{box.specification}}</td>
                                            <td>{{box.type}}</td>
                                          </tr>
                                          </table>
                                        <label> Comment : </label> {{con.cons.vendor.comment}} <br>
                                        <label> Username : </label> {{con.cons.vendor.boutique_vendors_user_name}} <br>
                                        <label> Name : </label> {{con.cons.vendor.boutique_vendors_first_name + " " + con.cons.vendor.boutique_vendors_last_name}}
                                        <br>
                                        <label> email : </label> {{con.cons.vendor.boutique_vendors_email}} <br>
                                        <label> Phone Number : </label> {{con.cons.vendor.boutique_vendors_phone_number}} <br>
                                        <label> City : </label> {{con.cons.vendor.city}} <br>
                                        <label> Created At : </label> {{con.cons.vendor.created_at | date}} <br>
                                        <label> Event Start Date : </label> {{con.cons.vendor.event_start_date | date}} <br>
                                        <label> Event End Date : </label> {{con.cons.vendor.event_end_date | date}} <br>
                                        <label> Address : </label> {{con.cons.vendor.address}} <br>
                                        <label> Sold Items : </label> {{con.cons.vendor.sold_items.length}} <br>
                                        <label> Margin : </label> {{con.cons.vendor.margin_rate > 0 ? con.cons.vendor.margin_rate + '%' : con.cons.vendor.margin_rate_absolute}} <br>

                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 order-table-row">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <!-- <select class="form-control w-200 m-b-10" ng-change="con.getItemList()"
                                    ng-model="con.selected_manufacture">
                                <option value="" style="display: none">Select Merchant</option>
                                <option ng-repeat="arr in con.manufacturer_list_2" value="{{arr.id}}">
                                    {{arr.first_name + " " + arr.last_name}}
                                </option>
                                <option value="all">
                                    All
                                </option>
                            </select> -->
                            <div class="display-inline-flex">
                              <ui-select ng-if="con.cons.vendor.id" class="w-200 m-r-10"
                                      ng-model="con.selected_manufacture">
                                  <ui-select-match placeholder="Select Merchant...">{{$select.selected.user_name}}</ui-select-match>
                                  <ui-select-choices repeat="arr in con.manufacturer_list_2 | filter: $select.search">
                                      <div ng-bind-html="arr.first_name + ' ' + arr.last_name | highlight: $select.search"></div>
                                  </ui-select-choices>
                              </ui-select>

                              <ui-select ng-if="con.cons.vendor.id" multiple close-on-select="false" class="w-300 m-l-10 m-r-10"
                                      ng-model="con.selected_tags" ng-disabled="con.disabled">
                                  <ui-select-match placeholder="Select Style Category...">{{$item.name}}</ui-select-match>
                                  <ui-select-choices repeat="arr in con.tag_list | filter: $select.search">
                                      <div ng-bind-html="arr.name | highlight: $select.search"></div>
                                  </ui-select-choices>
                              </ui-select>

                              <div ng-if="con.cons.vendor.id" class="form-group has-feedback input-div w-300 m-l-10 m-r-10">
                                  <label>Price Range</label>
                                  <select class="form-control" ng-model="con.cons.range" required="required">
                                      <option value="" disabled>Select Range</option>
                                      <option value="600,1499">Value: ₹ 600 - ₹ 1499</option>
                                      <option value="1500,2499">Select: ₹ 1500 - ₹ 2499</option>
                                      <option value="2500,4999">Gold: ₹ 2500 - ₹ 4999</option>
                                  </select>
                              </div>

                              <div ng-if="con.cons.vendor.id" class="m-l-10" style="width:15%">
                                <button class="btn export-btn picklist-get-btn" style="width:100%" ng-click="con.getItemList()">
                                    Get Data
                                </button>
                              </div>

                              <label ng-if="!con.cons.vendor.id" class="m-l-10 m-t-10">(Please Select A Trunkshow Host To See The Item Filters)</label>
                            </div>
                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="con.gridOptionsComplex.data.length"
                                         ui-grid="con.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="con.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{con.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>
