<!--
************* Created by Surbhi Goel *************
delete it
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createPicklistCtrl as con">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="con.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="con.spinners">

        <div class="col-lg-12">
            <button class="btn m-t-7 float-right" ui-sref="flyrobe.picklist">
                Back
            </button>
            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-6 m-t-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-lg-12 m-t-10" ng-if="con.selected_items.length">
                            <h4> Selected items ({{con.selected_items.length}})</h4>
                            <table class="table table-striped table-bordered table-hover dataTables-example m-b-0">
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Size</th>
                                </tr>
                                <tbody>
                                <tr ng-repeat="item in con.selected_items">
                                    <td class="w-33p">{{item.style_info.identification_code}}</td>
                                    <td class="w-33p">

                                        <div ng-if="item.style_info.image_front.indexOf('http') < 0">
                                            <img src="{{main.urlList.imagekit_100_url + item.style_info.image_front}}" alt="Image"
                                                 ng-click="con.openModalForImage(main.urlList.imagekit_url + item.style_info.image_front)"
                                                 class="img-responsive img-circle"
                                                 style="height: 40px; width: 25px; cursor: pointer;"/>
                                        </div>

                                        <div ng-if="item.style_info.image_front.indexOf('http') >= 0">
                                            <img src="{{item.style_info.image_front}}" alt="Image"
                                                 ng-click="con.openModalForImage(item.style_info.image_front)"
                                                 class="img-responsive img-circle"
                                                 style="height: 40px; width: 25px; cursor: pointer;"/>
                                        </div>

                                    </td>
                                    <td class="w-33p">{{item.size}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Total Quantity</th>
                                    <th>{{con.selected_items.length}}</th>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>

                        <form class="m-t" validate-form="" novalidate="" role="form" name="fresetForm"
                              ng-submit="con.createPicklist()">

                            <div class="col-lg-6">
                                <div class="row">

                                    <div class="form-group has-feedback col-lg-6 input-div">
                                        <div>
                                            <label>Host</label> <span class="mandatory">*</span>
                                            <ui-select ng-model="con.cons.vendor" theme="bootstrap"
                                                       class="singleError ui-select-readonly" ng-change="con.getVendorDetails(con.cons.vendor)"
                                                       ng-class="{'parsley-error' : con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined}">
                                                <ui-select-match placeholder="Select Host...">{{$select.selected.user_name}}</ui-select-match>
                                                <ui-select-choices repeat="ven in con.vendor_list | filter: $select.search">
                                                    <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <ul class="parsley-errors-list filled" ng-if="con.cons.vendor == '' || con.cons.vendor == null || con.cons.vendor == undefined">
                                                <li class="parsley-required">This value is required.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback col-lg-6 input-div">
                                        <div>
                                            <label>Sender</label> <span class="mandatory">*</span>
                                            <ui-select ng-model="con.cons.sender" theme="bootstrap"
                                                       class="singleError ui-select-readonly"
                                                       ng-class="{'parsley-error' : con.cons.sender == '' || con.cons.sender == null || con.cons.sender == undefined}">
                                                <ui-select-match placeholder="Select Sender...">{{$select.selected.user_name}}</ui-select-match>
                                                <ui-select-choices repeat="ven in con.sender_list | filter: $select.search">
                                                    <div ng-bind-html="ven.user_name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <ul class="parsley-errors-list filled" ng-if="con.cons.sender == '' || con.cons.sender == null || con.cons.sender == undefined">
                                                <li class="parsley-required">This value is required.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback col-lg-6 input-div">
                                        <label>Assign To</label>
                                        <input type="text" class="form-control" placeholder="Enter Assignee"
                                               ng-model="con.cons.assign_to">
                                    </div>

                                    <div class="form-group has-feedback col-lg-6 input-div">
                                        <label>Comment</label>
                                        <textarea type="text" class="form-control comment-textarea" placeholder="Enter Comment"
                                                  ng-model="con.cons.comment"></textarea>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-4">

                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary block m-b m-t-10">
                                                        Create Picklist
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6" ng-if="con.show_vendor_details">

                                <h3>Vendor Details</h3>
                                <label> Username : </label> {{con.cons.vendor.user_name}} <br>
                                <label> Name : </label> {{con.cons.vendor.first_name + " " + con.cons.vendor.last_name}}
                                <br>
                                <label> email : </label> {{con.cons.vendor.email}} <br>
                                <label> Phone Number : </label> {{con.cons.vendor.phone_number}} <br>
                                <label> City : </label> {{con.cons.vendor.city}} <br>
                                <label> Created At : </label> {{con.cons.vendor.created_at | date}} <br>
                                <label> Confirmed Date : </label> {{con.cons.vendor.confirmed_date | date}} <br>
                                <label> Adhar Number : </label> {{con.cons.vendor.adhar_number}} <br>
                                <label> Pan Number : </label> {{con.cons.vendor.pan_number}} <br>
                                <label> Address : </label> {{con.cons.vendor.address}} <br>
                                <label> Sold Items : </label> {{con.cons.vendor.sold_items.length}} <br>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 m-t-10">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <select class="form-control w-200 m-b-10" ng-change="con.getItemList()"
                                    ng-model="con.selected_manufacture">
                                <option value="" style="display: none">Select Merchant</option>
                                <option ng-repeat="arr in con.manufacturer_list_2" value="{{arr.id}}">
                                    {{arr.first_name + " " + arr.last_name}}
                                </option>
                                <option value="all">
                                    All
                                </option>
                            </select>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="con.gridOptionsComplex.data.length"
                                         ui-grid="con.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="con.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="imageModals">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12" style="text-align: center;">
                        <img class="ngDialog-img" ng-src="{{con.imagePath}}">
                    </div>

                </div>
            </div>


        </div>
    </script>


</div>