<!--
************* Created by Surbhi Goel **************
-->

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="picklistCtrl as pl">

    <!-- Spinner DIV START-->
    <div class="spiner-example" ng-show="pl.spinners">
        <div class="sk-spinner sk-spinner-chasing-dots">
            <div class="sk-dot1"></div>
            <div class="sk-dot2"></div>
        </div>
    </div>
    <!-- Spinner DIV END-->

    <!-- Content DIV START-->
    <div class="row" ng-hide="pl.spinners">

        <div class="col-lg-12">

            <button class="btn m-t-7 float-right" ui-sref="flyrobe.createPickList"
                    ng-if="('PC7' | component : pl.panel) == 'W'">
                + Create Order
            </button>

            <div style="clear: both;"></div>
        </div>

        <div class="col-lg-12 m-t-10">

            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="float-left">
                                <input id="rangeInput" date-range-picker
                                       class="form-control date-picker w-200 float-left" type="text"
                                       ng-model="pl.date_range" ng-value="1"
                                       readonly="" placeholder="Select Date" required=""/>

                                <button class="btn export-btn picklist-get-btn" ng-click="pl.getData()">
                                    Get Data
                                </button>

                                <div style="clear: both;"></div>

                            </div>

                            <button class="btn pull-right export-btn m-b-10" ng-if="pl.gridOptionsComplex.data.length"
                                    ng-csv="pl.exportToCsv()" csv-header="pl.csv_header"
                                    filename="{{'order_' + main.today_date_time + '.csv'}}" field-separator="," decimal-separator="">
                                Export to CSV
                            </button>

                            <div style="clear: both;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="grid common-grid" ng-if="pl.gridOptionsComplex.data.length"
                                         ui-grid="pl.gridOptionsComplex" ui-grid-edit ui-grid-resize-columns ui-grid-exporter
                                         ui-grid-pagination></div>
                                </div>
                            </div>


                            <div class="row" ng-if="pl.gridOptionsComplex.data.length == 0">
                                <div class="col-lg-12">
                                    <h3 class="text-red text-center">No Data Available</h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/ng-template" id="viewDetails">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 style="text-align: center;">Order Details (T.O. No. {{pl.to_details.id}})</h3>

                        <div>
                            <b>Created At</b> : {{pl.to_details.created_at | date}}
                        </div>

                        <div>
                            <b>Created By</b> : {{pl.to_details.created_by}}
                        </div>

                        <div>
                            <b>Consigning On</b> : {{pl.to_details.consigning_on | date}}
                        </div>

                        <div>
                            <b>Grand Price</b> : {{pl.to_details.grand_price}}
                        </div>

                        <div>
                            <b>Source Vendor</b> : {{pl.vendor_list[pl.to_details.source_vendor]}}
                        </div>

                        <div>
                            <b>Destination Vendor</b> : {{pl.vendor_list[pl.to_details.destination_vendor]}}
                        </div>

                        <div>
                            <b>Comment</b> : {{pl.to_details.comment}}
                        </div>

                        <div>
                            <b>Active Status</b> : {{pl.to_details.is_active}}
                        </div>

                        <div>
                            <b>Margin Rate</b> : {{pl.to_details.vendor_margin_rate}}
                        </div>

                    </div>

                    <div class="col-lg-12 m-t-10">
                        <table datatable="ng" dt-options="pl.dtOptions"
                               class="table table-striped table-bordered table-hover dataTables-example data-table-ui">
                            <thead class="w-100p">
                            <tr class="w-100p">
                                <th class="w-33p">Size</th>
                                <th class="w-33p">Identification Code</th>
                                <th class="w-33p">Required Count</th>
                                <th class="w-33p">Added To Consignment Count</th>
                            </tr>
                            </thead>
                            <tbody class="w-100p">
                            <tr class="w-100p" ng-repeat="data in pl.to_details.parent_items">
                                <td>{{data.size}}</td>
                                <td>{{data.items[0].style_info.identification_code}}</td>
                                <td>{{data.required_count}}</td>
                                <td>{{data.added_to_consignment_count}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>


        </div>
    </script>

    <script type="text/ng-template" id="confirm">
        <div class="ngdialog-message">

            <div class="ibox-content">
                <div class="row">

                    <div class="col-lg-12 m-b-10">
                      Closing Picklist will release all items & they can be assigned to other picklist. Do you want to continue?
                    </div>
                    <div class="col-lg-12 nopadding">
                      <div class="col-lg-6"></div>
                      <div class="col-lg-6 nopadding">
                        <div class="col-lg-6">
                          <button class="btn export-btn picklist-disable-btn" ng-click="pl.disablePicklist('yes')">
                            Yes
                          </button>
                          </div>
                        <div class="col-lg-6 text-right">
                          <button class="btn export-btn picklist-disable-btn" ng-click="pl.disablePicklist('no')">
                            No
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

        </div>
    </script>


</div>
